/*IMPORTS*/
@import "./Styles/login-user-form.css";
@import "./Styles/user-registration.css";
@import "./Styles/homePage.css";
@import "./Styles/footer.css";
@import "./Styles/calendar.css";
@import "./Styles/recommendations.css";
@import "./Styles/adminView.css";
@import "./Styles/tables.css";
@import "./Styles/hero.css";
@import "./Styles/modals.css";


/* BODY */
#root{
  height: 100vh;
  width: 100vw;
}

body{
  height: 100vh;
  width: 100vw;
  background: linear-gradient(217deg, #b39bea, #abcafa, #b5cff7, #a483f0);
  background-size: 800% 800%;
  overflow-x: hidden;

  -webkit-animation: AnimationName 47s ease infinite;
  -moz-animation: AnimationName 47s ease infinite;
  animation: AnimationName 47s ease infinite
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 84%}
  50%{background-position:100% 17%}
  100%{background-position:0% 84%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 84%}
  50%{background-position:100% 17%}
  100%{background-position:0% 84%}
}
@keyframes AnimationName {
  0%{background-position:0% 84%}
  50%{background-position:100% 17%}
  100%{background-position:0% 84%}
}

/* TODO LIST COMPLETED */
.completed{
  font-size: 25px;
  font-family: "Rubik", sans-serif;
  background-color: transparent;
  font-size: auto;
  font-weight: lighter;
  color: #09010ade;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  
}
.marked {
  color: #09010ade;
  font-weight: lighter;
}
.marked:hover{
  color:#8f64a1;
}

/* DEMO STYLES */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body{
  font-family: 'Roboto', sans-serif;
}

section{
  margin: 50px;
}

.modal-title{
  font-size: 20px;
  font-weight: lighter;
}

/* CUSTOM SCROLLBAR FOR WEBKIT BROWSER*/
::-webkit-scrollbar {
  width: 6px;
} 

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}